/* Ini File CSS */

/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: lightskyblue;
    margin: 20px;
    padding: 15px;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: lightskyblue;
}

.box {
    width: 500px;
    background: aliceblue;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px black;
}

h2 {
    color: #18a2f7;
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0px;
}

.content {
    padding: 0px 30px;
}

/* Form Input Age */
.input {
    background: aliceblue;
    box-shadow: 0px 0px 95px -30px black;
    border-radius: 15px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.input label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid lightskyblue;
    width: 50%;
    text-align: center;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

/* Form Input Weight */
.input-weight{
    background: aliceblue;
    box-shadow: 0px 0px 95px -30px black;
    border-radius: 15px;
    padding: 20px 0;
    margin-right: 15px;
    margin-bottom: 20px;
}

.input-weight label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.input-weight input {
    outline: none;
    border: none;
    border-bottom: 1px solid lightskyblue;
    width: 50%;
    text-align: center;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

/* Form Input Height */
.input-height{
    background: aliceblue;
    box-shadow: 0px 0px 95px -30px black;
    border-radius: 15px;
    padding: 20px 0;
    margin-right: 15px;
    margin-bottom: 20px;
}

.input-height label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.input-height input {
    outline: none;
    border: none;
    border-bottom: 1px solid lightskyblue;
    width: 50%;
    text-align: center;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

/* Button Form */
button.calculate {
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    color: aliceblue;
    background: lightskyblue;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    outline: none;
    border: none;
    transition: all 0.5s;
}

button.calculate:hover {
    background: lightskyblue;
}


/* Result */
.result {
    padding: 10px 20px;
}

.result p {
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}

.result #result {
    font-size: 36px;
    font-weight: 900;
    color: lightskyblue;
    background-color: #dee5eb;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
}

#comment {
    color: lightskyblue;
    font-weight: 800;
}

.comment {
    display: none;
    justify-content: start;
    align-items: center;
    padding: 10px 15px;
}

/* Footer */
.footer-text {
    text-decoration: none;
    color: #282828cc;
    font-family: 'poppins', sans-serif;
    font-weight: 200;
    font-size: 12px;
    transition: all 0.5s;
}

.footer-text:hover {
    color: #282828;
}


/* Form Input Gender */
.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: aliceblue;
    box-shadow: 0px 0px 95px -30px black;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

/* Style for Radio */
.gender .container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-button: 12px */
    margin-top: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create acustom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: aliceblue;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.gender .container:hover input ~ .checkmark {
    background-color: grey;
}

/* When the radio button is checked, add a blue background */
.gender .container:hover input:checked ~ .checkmark {
    background-color: lightskyblue;
}

/* Create the indicator (dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.gender .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.gender .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #09a1ff;
}

/* END STYLE FOR RADIO */

.container-height-weight {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* INFORMATION, KELEBIHAN & DISCLAIMER! */
.information {
    background: #f0f8ff8c;
    box-shadow: 0px 0px 95px -30px black;
    border-radius: 15px;
    border: 2px solid #f0f8ffab;
    margin: 20px;
    padding: 15px;
    text-align: left;
}





.kelebihan {
    background: #f0f8ff8c;
    box-shadow: 0px 0px 95px -30px black;
    border-radius: 15px;
    border: 2px solid #f0f8ffab;
    margin: 20px;
    padding: 15px 15px 15px 15px;
}
h3{
  color: #18a2f7;  
}
ul {
    margin: 20px;
    align-items: center;
}

.disclaimer {
    background: #f0808057;
    box-shadow: 0px 0px 95px -30px black;
    border-radius: 15px;
    border: 2px solid #d6444470;
    margin: 20px;
    padding: 15px;
    text-align: left;
}
.h-disclaimer {
    color: #d64444;
}






/* The Modal Background */
.modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    padding-top: 100px; /* location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full Height */
    overflow: auto; /* enable scroll if needed */
    background-color: black;
    background-color: #00000066; /*black with opacity*/
    padding-top: 300px;
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid grey;
    width: 600px;
    border-radius: 10px;
    box-shadow: lightskyblue -1px 2px 2px 1px;
}

#modal-text {
    padding-top: 8px;
    padding-right: 5px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    color: black;
}

.modal-wrong {
    border: 2px solid lightcoral;
}

.modal.correct {
    border: 2px solid lightskyblue;
}

/* The Close Button */
.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.close:hover {
    color: rgb(0, 132, 255);
}





.link-download {
    position: fixed;
    background-color: lightcoral;
    margin: 20px;
    padding: 10px 10px;
    left: -0px;
    border-radius: 5px;
    bottom: -0px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.43s ease-in-out;
}

.link-download {
    padding-left: 7px;
}

.link-download:hover {
    text-decoration: none;
    background-color: black;
}


@media (max-width: 700px) {
    .box {
        width: 380px;
    }

    .input label {
        font-size: 18px;
    }

    .input-height label .input-weight label {
        font-size: 14px;
    }

    .input input .input-height input .input-weight input {
        font-size: 24px;
    }

    .modal-content {
        width: 380px;
    }

    .link-download {
        display: none;
    }
}